---
import Layout from '../layouts/Layout.astro';
import MouseEffect from '../components/MouseEffect.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Gallery from '../components/Gallery.astro';
import Setup from '../components/Setup.astro';
import Download from '../components/Download.astro';
---

<Layout title="Animus - Real-time Audio Visualizer">
  <MouseEffect />
  <main>
    <Hero />
    <Features />
    <Gallery />
    <Setup />
    <Download />
  </main>
</Layout>
